
.navbar-form {
  margin:0px;
}

.navbar .navbar-header{
  margin-top:-5px;
}

.navbar-default{  /*#0c78b3*/
  position: relative;
  width:100%;
}



#Logout {


display: inline-block;
padding: 16px 0px ;
margin-bottom: 0 ;

text-align: left ;
white-space: nowrap ;
vertical-align: middle ;
cursor: pointer ;
background-image: none ;
border: none ;
outline: none ;
float:right;
}